.buttonContainer {
	cursor: pointer;
	white-space: nowrap;
	font-size: 1.2em;
	min-width: max-content;

	height: 44px;
	padding: 10px 20px;
	border: 0;
	border-radius: 4px;
	background-color: var(--clr-blue);
	color: #fff;
	transition: background 100ms ease-out;
}
.buttonContainer:active,
.buttonContainer:hover {
	color: var(--clr-grey);
	background-color: var(--clr-dark-blue);
}
.max-width {
	width: 100%;
}
.inverted {
	background: #6e41e2;
}
.inverted:hover,
.inverted:active {
	background: #5629c7;
}

.add {
	height: 40px;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.add::before {
	display: inline-block;
	content: '\002B';
	padding-right: 0.5em;
	font-size: 1.5rem;
}
