.tabs {
	display: flex;
	flex-direction: column;
	background-color: var(--clr-bg);
	height: 100%;
}
.tabsPanel {
	height: 100%;
	display: flex;
	padding-top: 2rem;
	gap: 1rem;
}
@media (max-width: 900px) {
	.tabsPanel {
		justify-content: center;
	}
}
