.tags {
	display: flex;
	gap: 0.25rem;
	flex-wrap: wrap;
	width: fit-content;
	border-radius: 4px;
	margin-block: 0.5rem;
}
.tag {
	font-size: 0.8em;
	color: white;
	line-height: 1.4;
	padding: 0.4em 0.8em;
	border-radius: 4px;
	background-color: var(--clr-purple);
}
