.spinner {
	padding: 0;
	animation: spin 1s linear infinite;
}
.primary {
	color: var(--clr-purple);
}
.secondary {
	color: var(--clr-blue);
}

@keyframes spin {
	to {
		-webkit-transform: rotateZ(360deg);
	}
}
@-webkit-keyframes spin {
	to {
		-webkit-transform: rotateZ(360deg);
	}
}
