.buttonContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	cursor: pointer;
	white-space: nowrap;
	font-size: 1.1em;
	min-width: max-content;
	height: 40px;
	border: 0;
	border-radius: 4px;
	padding: 10px 20px;
	background-color: var(--clr-blue);
	transition: background-color 100ms ease-out;
}

.buttonContainer:hover {
	color: var(--clr-grey);
	background-color: var(--clr-dark-blue);
}
.buttonContainer:active {
	transform: scale(0.95);
}

.buttonContainer:disabled,
.buttonContainer[aria-disabled='true'] {
	cursor: not-allowed;
	background-color: var(--clr-secondary);
	color: var(--clr-grey);
}

.max-width {
	width: 100%;
}
.inverted {
	background: #6e41e2;
}
.inverted:hover,
.inverted:active {
	background: #5629c7;
}

.add {
	font-size: 1em;
}
.add::before {
	display: inline-block;
	content: '\002B';
	font-size: 1.5rem;
}
