.modal {
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.modal::-webkit-scrollbar {
	display: none;
}
.modalContainer {
	min-width: 300px;
	width: 50%;
	max-width: 455px;
	height: max-content;
	background-color: #23262f;
	border-radius: 10px;
	padding: 1.5rem 2rem;
}
.modalHeader {
	display: flex;
	margin-bottom: 2rem;
}
.modalHeader h2 {
	font-weight: 400;
	font-size: 20px;
}
.closeBtn {
	color: #fff;
	border: 0;
	padding: 0;
	margin-left: auto;
	cursor: pointer;
	background-color: transparent;
}

.modalContainer .modalTitle {
	font-size: 1em;
	color: #127df7;
	padding-bottom: 0.5em;
	opacity: 1;
}

.search,
.sets {
	margin-bottom: 1rem;
}

.repsInfo {
	font-size: 0.8em;
	color: var(--clr-off-white);
}
