.cell {
	position: relative;
	display: block;
	min-height: 66px;
	border-bottom: 0.2px solid var(--clr-border);
	height: 100%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
.active {
	border: 2px solid var(--clr-blue);
	background-color: var(--clr-grey);
	color: black;
}
.active .card {
	inset: 0;
}
.card {
	font-size: 0.8em;
	position: absolute;
	inset: 0.2rem;
	background-color: #121b37;
	border-radius: 0 0.3rem 0.3rem 0;
	border-left: 3px solid var(--clr-purple);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card span:first-of-type {
	position: absolute;
	font-size: 1em;
	right: 0.2rem;
	top: 0.2rem;
}

.tobeCompleted {
	border-left-color: orange;
	color: orange;
}
.complete {
	border-left-color: var(--clr-green);
	color: var(--clr-green);
}
.inComplete {
	border-left-color: var(--clr-red);
	color: var(--clr-red);
}

.eventName:hover {
	color: var(--clr-purple);
}

@media (max-width: 800px) {
	.card {
		font-size: 0.8em;
	}
}
@media (max-width: 600px) {
	.card span:nth-of-type(2) {
		display: none;
	}
	.card span:first-of-type {
		position: initial;
		font-size: 1.2em;
	}
}
