/* Siderbar */
.sidebar {
	color: #fff;
	position: relative;
	background-color: var(--clr-primary);
}
@media (max-width: 900px) {
	.sidebar {
		display: none;
	}
}

/* SideNavItem - Navbar links */
.sidebar nav {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.5em;
	min-width: 5rem;
	padding-top: calc(80px + 10vh);
}

/* SideNavItem - Navbar link */
.navItem {
	display: flex;
	position: relative;
	padding: 0.8em 0.8em;
	border-radius: 0.5em;
}
.navItem:hover {
	background-color: var(--clr-secondary);
}
.navItem span {
	display: none;
	position: absolute;
	color: black;
	top: 50%;
	padding: 0.8em 1em;
	background-color: #fff;
	border-radius: 5px;
	transform: translate(4.2rem, -50%);
	letter-spacing: 1px;
	white-space: nowrap;
	z-index: 100;
}
.navItem span::before {
	content: '';
	height: 0;
	width: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-right: 9px solid #fff;
	position: absolute;
	left: -7px;
	top: 50%;
	transform: translateY(-50%);
}
.navItem:hover span {
	display: block;
}
.navItem svg {
	color: #7182a4;
	aspect-ratio: 1;
}
.navItem:hover svg {
	color: #fff;
}

/* Navbar link current page*/
.navItem[aria-current='page'] {
	background-color: #fff;
}
.navItem[aria-current='page'] svg {
	color: #000;
}

/* SideNavItem - Navbar-Mobile */
[data-reach-dialog-overlay] {
	z-index: 1000;
}
.mobileNav[data-reach-dialog-content] {
	margin: 0;
	padding: 1rem;
	min-height: 100%;
	width: 300px;
	background-color: var(--clr-primary);
	animation: slide-down 250ms ease;
}
.mobileNavCloseBtn {
	padding-bottom: calc(50px + 10vh);
	display: flex;
	justify-content: flex-end;
}
.mobileNavItems {
	margin-bottom: 1rem;
}
.mobileNavItems span {
	display: block;
	background-color: transparent;
	color: white;
}
.mobileNavItems span::before {
	display: none;
}
.mobileNavItems[aria-current='page'] svg {
	color: #000;
}
.mobileNavItems[aria-current='page'] span {
	color: #000;
}

@media (min-width: 900px) {
	[data-reach-dialog-overlay] {
		display: none;
	}
}
@keyframes slide-down {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateY(0);
	}
}
