/* Typography */
.sidebar {
	color: #fff;
}
.sidebar nav {
	background-color: var(--clr-primary);
}
/* Layout */
.sidebar {
	min-width: 5rem;
}
.sidebar nav {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5em;
	padding-top: calc(80px + 10vh);
}

/* SideNavItem */

.navItem {
	display: flex;
	position: relative;
	padding: 0.8em 0.8em;
	border-radius: 0.5em;
}
.navItem:hover {
	background-color: var(--clr-secondary);
}
.navItem span {
	display: none;
	position: absolute;
	color: white;
	top: 50%;
	padding: 0.8em 1em;
	background-color: var(--clr-primary);
	border-radius: 5px;
	transform: translate(4.2rem, -50%);
	letter-spacing: 1px;
}
.navItem span::before {
	content: '';
	height: 0;
	width: 0;
	border-top: 9px solid transparent;
	border-bottom: 9px solid transparent;
	border-right: 9px solid var(--clr-primary);
	position: absolute;
	left: -7px;
	top: 50%;
	transform: translateY(-50%);
}
.navItem:hover span {
	display: block;
}
.navItem svg {
	color: #7182a4;
	aspect-ratio: 1;
}
.navItem:hover svg {
	color: #fff;
}
.navItem[aria-current='page'] {
	background-color: #fff;
}
.navItem[aria-current='page'] svg {
	color: #000;
}
