.mainDashboard {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.dashboardHeader {
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	gap: 1rem;
}
@media (max-width: 900px) {
	.dashboardHeader {
		justify-content: center;
	}
}
