.exerciseList {
	background-color: var(--clr-primary);
	padding: 2rem;
	height: 100%;
	border-radius: 15px 15px 0 0;
	max-width: 400px;
	height: 100%;
}
.exerciseList p {
	font-size: 0.8em;
	color: rgba(250, 250, 250, 0.7);
}

.info {
	display: flex;
	align-items: center;
	margin-block: 2rem;
}

.info p {
	margin-left: auto;
}
.selected {
	margin-bottom: 1rem;
}
.selected::first-letter {
	text-transform: capitalize;
}
