.searchResults {
	position: absolute;
	max-height: 200px;
	left: 0;
	width: 100%;
	border: 1px solid #484c56;
	border-top: none;
	padding-block: 0.7rem;
	margin-top: 0.3rem;
	overflow-y: auto;
	background-color: var(--clr-secondary);
	color: var(--clr-off-white);
}

.results {
	padding-block: 0.9em;
		padding-left: 1rem;

	font-size: 0.9em;
	cursor: pointer;
}
.results:hover {
	background-color: var(--clr-primary);
	color: #fff;
}
/* .closed {
	display: none;
}
.open {
	display: block;
} */
