.searchResults {
	position: absolute;
	max-height: 200px;
	left: 0;
	width: 100%;
	border: 1px solid #484c56;
	border-top: none;
	padding-block: 0.7rem;
	margin-top: 0.3rem;
	overflow-y: auto;
	background-color: var(--clr-secondary);
	color: var(--clr-off-white);
	z-index: 100;
}

.results {
	padding-block: 0.9em;
	padding-left: 1rem;

	font-size: 0.9em;
	cursor: pointer;
}
.results:hover {
	background-color: var(--clr-primary);
	color: #fff;
}
/* .closed {
	display: none;
}
.open {
	display: block;
} */
/* scrollbar */
.searchResults {
	scrollbar-width: thin;
	scrollbar-color: var(--clr-secondary);
}
.searchResults::-webkit-scrollbar {
	width: 9px;
}
.searchResults::-webkit-scrollbar-track {
	background-color: #fff;
	border-radius: 100vw;
}
.searchResults::-webkit-scrollbar-thumb {
	background-color: #949494;
	border-radius: 100vw;
}
.searchResults::-webkit-scrollbar-thumb:hover {
	background-color: var(--clr-bg);
}
