.createForm {
	position: relative;
	background-color: var(--clr-primary);
	border-radius: 15px 15px 0 0;
	height: 100%;
}
.createFormHeader {
	padding: 2rem 1rem 2rem 1rem;
}
.createForm h4 {
	font-size: 20px;
	font-weight: 400;
	border-bottom: 2px solid var(--clr-blue);
	padding: 0.5rem 0;
	width: min-content;
	margin-bottom: 0.5em;
	white-space: nowrap;
	margin-bottom: 4rem;
}
