.eventModalContent > section + section {
	margin-top: 1.5rem;
}

.eventSubHeader {
	color: var(--clr-blue);
	padding-bottom: 0.5rem;
}
.eventModalContent > section button {
	margin-top: 0.5rem;
}
.eventModalContent > span {
	display: block;
	text-align: center;
	padding-block: 1.5rem;
}
