.authLayout {
	display: grid;
	place-content: center;
	background-color: var(--clr-bg);
	height: 100vh;
	color: #fff;
}
.authLayoutContainer {
	min-width: 300px;
	max-width: 500px;
	width: 40vw;
	padding: 2.5rem;
	border-radius: 0.7em;
	background-color: var(--clr-primary);
}
.authLayoutContainer h2 {
	padding-bottom: 2rem;
	font-weight: 400;
	text-align: center;
}
