.createForm {
	position: relative;
	background-color: var(--clr-primary);
	border-radius: 15px 15px 0 0;
	height: 100%;
}
.createFormHeader {
	padding: 2rem 1rem 2rem 1rem;
}
.createForm .createFormTitle {
	font-size: 20px;
	font-weight: 400;
	width: min-content;
	white-space: nowrap;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid var(--clr-blue);
}
.createFormTitleContainer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 4rem;
}
.createFormTitleHeader {
	display: flex;
	gap: 1rem;
}
.createFormTitleHeader span {
	font-size: 20px;
}
