.dashboard {
	background-color: var(--clr-primary);
	height: 100%;
	border-radius: 15px 15px 0 0;
	padding: 2rem 1rem 2rem 1rem;
}
.dashboard > * + * {
	margin-top: 3rem;
}

.dashboard h4 {
	font-size: 20px;
	font-weight: 400;
	border-bottom: 2px solid var(--clr-blue);
	padding: 0.5rem 0;
	width: min-content;
	margin-bottom: 0.5em;
	white-space: nowrap;
	margin-bottom: 1em;
}

.overview p {
	margin-bottom: 2rem;
}
.createTemplateBtn a {
	display: block;
	background-color: var(--clr-purple);
	width: max-content;
	padding: 10px 20px;
	border-radius: 4px;
	transition: background 100ms ease-out;
}
.createTemplateBtn a:active,
.createTemplateBtn a:hover {
	color: var(--clr-grey);
	background-color: var(--clr-dark-purple);
}
.workoutsTitle .createTemplateBtn a {
	background-color: var(--clr-blue);
}
.workoutsTitle .createTemplateBtn a:active,
.workoutsTitle .createTemplateBtn a:hover {
	background-color: var(--clr-dark-blue);
}

.workoutsTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.workouts {
	display: flex;
	gap: 1.5rem;
	flex-wrap: wrap;
}

