.createWorkoutForm label {
	color: var(--clr-blue);
}

.createWorkoutForm {
	display: flex;
	flex-direction: column;
}
.createWorkoutForm input {
	color: #fff;
	width: 100%;
	font-size: 0.9em;
	border: 1px solid #484c56;
	border-radius: 0.4em;
	padding: 0.8em 2em;
	background-color: var(--clr-secondary);
	font-family: 'Poppins', sans-serif;
	margin-block: 0.5rem;
}

.createWorkoutForm input:focus {
	outline: 1px solid var(--clr-blue);
}
.createWorkoutForm input::placeholder {
	text-align: center;
}
