.todaysWork {
	margin-top: 2rem;
	background-color: var(--clr-primary);
	padding-top: 2rem;
	padding-bottom: 5rem;
	border-radius: 1rem 1rem 0 0;
	flex-grow: 1;
}
.todaysWork p {
	padding: 0 0 2rem 2rem;
}
.nothingFound {
	padding-left: 2rem;
}
.loader {
	display: flex;
	justify-content: center;
}
