.eventModalContainer {
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.4);
	margin-top: 0;
	z-index: 100;
	display: flex;
	justify-content: center;
}
.eventModal {
	margin-top: 5rem;
	min-width: 300px;
	width: 50%;
	max-width: 455px;
	height: max-content;
	background-color: #23262f;
	border-radius: 10px;
	padding: 1.5rem 2rem;
	display: flex;
	flex-direction: column;
}
.closeBtn {
	color: #fff;
	border: 0;
	padding: 0;
	margin-left: auto;
	cursor: pointer;
	background-color: transparent;
}
.eventModalHeader {
	display: flex;
	padding-bottom: 2rem;
}
.eventModalContent {
	text-align: center;
}
.eventModalContent input {
	color: #fff;
	width: 100%;
	padding: 0.6em 1.5em;
	margin-bottom: 1rem;
	border: 0;
	border-radius: 0.4em;
	font-size: 0.9em;
	background-color: var(--clr-secondary);
	font-family: 'Poppins', sans-serif;
}
.eventModalContent input:focus {
	outline: 1px solid var(--clr-blue);
}
.eventModalContent input::placeholder {
	text-align: center;
}
.eventModalContent > * {
	margin-bottom: 1rem;
}
