.modalContainer {
	width: 50%;
	height: max-content;
	min-width: 300px;
	max-width: 455px;
	border-radius: 10px;
	background-color: #23262f;
	display: flex;
	flex-direction: column;
	color: #fff;
}

.modalCloseBtn {
	color: #fff;
	border: 0;
	padding: 0;
	margin-left: auto;
	cursor: pointer;
	background-color: transparent;
}
