.searchForm {
	position: relative;
	width: 250px;
}
.searchForm input {
	color: #fff;
	width: 100%;
	font-size: 0.9em;
	border: 1px solid #484c56;
	border-radius: 0.4em;
	padding: 0.8em 2em;
	background-color: var(--clr-secondary);
}
.searchForm svg {
	position: absolute;
	top: 50%;
	left: 0.5em;
	transform: translateY(-50%);
}
