.workoutDone {
	color: var(--clr-green);
}
.workoutLeft {
	color: orange;
}
.workoutMissed {
	color: var(--clr-red);
}
.workoutDone,
.workoutLeft,
.workoutMissed {
	flex-basis: 100%;
}
.contentContainer {
	display: flex;
	gap: 1rem;
	align-items: center;
}
