*,
*::after,
*::before {
	box-sizing: border-box;
}
:root {
	--clr-bg: #090c15;
	--clr-primary: #131626;
	--clr-secondary: #1c1f2e;
	--clr-purple: #6e41e2;
	--clr-dark-purple: #511fcf;
	--clr-blue: #127df7;
	--clr-dark-blue: #0f429a;
	--clr-grey: #d9d9d9;
	--clr-off-white: #dfdfe6;
	--clr-border: #484c56;
	--clr-green: #27ae60;
	--clr-red: #c7302b;
}

img {
	display: block;
	max-width: 100%;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
p {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
