.inputFormUpdate {
	max-width: 50%;
	display: flex;
	align-items: flex-end;
	gap: 1em;
}

.inputFormUpdate label {
	display: block;
	font-size: 0.9em;
	text-align: start;
	color: rgba(250, 250, 250, 0.8);
	font-weight: 400;
}
.inputFormUpdate label {
	padding-bottom: 0.3em;
}
.inputFormUpdate input {
	display: block;
	color: white;
	width: 100%;
	max-width: 260px;
	font-size: 1em;
	padding: 0.6em 2em;
	border: 0;
	border-radius: 0.5em;
	background-color: var(--clr-secondary);
	border: 2px solid rgba(250, 250, 250, 0.05);
}
.inputFormUpdate input::placeholder {
	font-size: 0.8em;
}
.passContainer {
	flex-wrap: wrap;
}
.passContainer div:first-of-type {
	flex-basis: 100%;
}
.inputFormUpdate button {
	font-size: 0.8em;
	height: 40px;
}
.backBtn {
	color: #fff;
	letter-spacing: 0.5px;
}
.backBtn a {
	display: inline-block;
	padding: 0.5em 2em;
	background-color: var(--clr-purple);
	border-radius: 4px;
}
.backBtn a:hover,
.backBtn a:focus {
	color: var(--clr-grey);
	text-decoration: underline;
}
